{% extends "base.html" %}
{% load static %}
{% block title %} Login {% endblock title %}
{% block body %}
    <header>
        <nav>
            <a  href="{% url 'Home' %}" class="logo">Friendlly</a>
        </nav>
    </header>
    <main>
        <section class="ForgotPassword-container">
            <img src="{% static 'Images/Forgot password-rafiki.svg' %}" alt="Forgot-password page svg" class="forgotPassword-svg">
            <div class="forgotPassword-text-container">
                <h1 class="ForgotPassword_Title">Forgotten your password ?</h1>
                <form class="ForgotPassword-form">
                    <legend class="ForgotPassword-legends">Enter your email to find you account</legend>
                    <input type="email" placeholder="your@email.com" class="forgotPassword-email-input">
                    <button type="submit" class="Find_my_account-btn">Find my account</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}