<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./Images/Fav.png" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./library.css">
    <script src="https://kit.fontawesome.com/9538e475ca.js" crossorigin="anonymous"></script>
    <title>Rest Password</title>
</head>
<body>
    <header>
        <nav>
            <a  href="./index.html" class="logo">Friendlly</a>
        </nav>
    </header>
    <main>
        <section class="ResetPassword-container">
            <img src="./Images/Reset password-amico.svg" alt="Reset password page svg" class="resetpassword-svg">
            <div>
                <h1 class="ResetPassword_title">Rest Your Password</h1>
                <form class="resetPassword-form">
                    <legend class="resetPassword-legend">Enter your new password</legend>
                    <input type="password" placeholder="New password" class="resetPassword-newPassword">
                    <input type="password" placeholder="Old Password" class="resetPassword-confirmPassword">
                    <button type="submit" class="resetPassword-btn">Reset password</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>