<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./Images/Fav.png" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./library.css">
    <script src="https://kit.fontawesome.com/9538e475ca.js" crossorigin="anonymous"></script>
    <title>Password Update</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div>
                <a  href="./index.html" class="logo">Friendlly</a>
                <input type="search" placeholder="search">
            </div>
            <div class="homefeed-navlinks-group">
                <div class="nav-links">
                    <a href="#"><i class="fa-solid fa-house"></i></a>
                    <a href="#"><i class="fa-solid fa-user-group"></i></a>
                    <a href="#"><i class="fa-solid fa-comments"></i></a>
                </div>
                <button class="profile-btn"><img src="./Images/demo-user.jpg" alt="log in user profile picture" class="login-user-Profile-picture"></button>
                <ul class="dropdown">
                    <li><a href="#">View profile</a></li>
                    <li><a href="#">Setting</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Log out</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <img src="./Images/My password-pana.svg">
            <div>
                <h1 class="UpdatePassword_Title">Update your password</h1>
                <form class="update-password-form">
                    <legend class="legends">Enter current Password</legend>
                    <input type="password" placeholder="Current Password" class="Password-input">
                    <legend class="legends">Enter New Password</legend>
                    <input type="password" placeholder="Current Password" class="Password-input">
                    <legend class="legends">Enter Confirm Password</legend>
                    <input type="password" placeholder="Current Password" class="Password-input">
                    <button class="UpdatePassword-btn">Update Password</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>