<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./Images/Fav.png" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./library.css">
    <script src="https://kit.fontawesome.com/9538e475ca.js" crossorigin="anonymous"></script>
    <title>waiting page</title>
</head>
<body>
    <header>
        <nav>
            <a  href="./index.html" class="logo">Friendlly</a>
        </nav>
    </header>
    <main>
    <section class="waiting-page-container">
        <img src="./Images/New message-amico.svg" alt="waiting page svg">
        <h1>Please check your  inbox to verify your account</h1>
    </section>
    </main>
</body>
</html>